@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
/*모바일용*/
html{  font-size:62.5%;}
header{background:#fff;height:5.4rem; position: relative;}
header h1{ line-height: 5.4rem;}
header button{display:inline-block; padding:0; width:2.5rem; height:5.4rem;  text-align:center; position: absolute; top:50%; right:18px; transform:translate(0,-50%); border:none;background:transparent;}
.ham_btn .fa-bars{font-size:2rem;line-height: 5.4rem;}
header h1 a{font-family: 'Montserrat',Sans-serif,Helvetica;font-weight: bold; display:block; font-size:2.6rem; color:#000;text-align: center;}
header nav{display:none;}
header nav ul{display:block; background:#fff; text-align:left; padding:0 0 0 2.8rem;}
header nav ul li{height:2.8rem;}
header nav ul li a{font-size:1.8rem; line-height: 2.8rem;}
main{font-size:1.2rem;}
.main_img{position:relative; box-sizing:border-box; background:#e8ba3f;  width: 100%; height:41rem; padding:0 1.5rem 4.4rem;overflow: hidden;}
.main_img >div{ box-sizing:border-box;margin:0 auto; width:100%; height:85%; border:.2rem solid #000; border-radius: 4.3rem; background-image:url("../images/main.jpg");background-size:cover;}
.main_img h2 {font-family: 'Noto Sans CJK KR','Noto Sans KR','Helvetica Neue',Helvetica,Arial,sans-serif;text-align: center; font-size:4rem; font-weight:800; text-transform: uppercase; line-height:4rem; margin: 0.8rem 0 1rem;}
.main_img >span{display:block; position:absolute;width:auto; left:50% ;bottom:1rem; font-size: 2rem; font-weight: 700; text-align: center; transform: translateX(-50%); border-bottom:2px solid #000;}
.title{font-family: 'Playfair Display', serif; font-size:2.5rem; font-weight:700; height:10rem; text-align: center;line-height: 10rem;}
/*베스트 섹션*/
.best .slide{width:100%; overflow: hidden;}
.best .slide ul{height:35rem; width:400rem;margin-bottom:1.5rem;}
.best .slide ul li{display:inline-block; float:left; width:20rem; height:30.1rem; margin-right:3.1rem;}
.best .slide ul li a > span{display:inline-block; text-transform:capitalize; width:100%; margin-top:1rem; font-family: 'Playfair Display', serif; font-size:1.5rem; line-height:2rem; font-weight: 600;  text-align:center; color:#000;}
.best .slide ul li img{width:20rem; height:30.1rem; object-fit: cover;}
/*카테고라이즈 섹션*/
.categorize{width:100%;}
.categorize ul {display:block; width:30.6rem;margin:1rem auto;}
.categorize ul li{width:30.6rem; height:39.1rem; margin-top:1rem; position: relative;}
.categorize ul li a img{width:30.6rem; height:39.1rem; object-fit: cover;}
.categorize ul li a h2{text-transform: uppercase; width:100%; text-align:center;font-size:3.8rem; font-weight:700; color:#e8ba3f; position: absolute; top:35%; left:0; text-shadow: 1px 1px 1px black;}
/*고객 리뷰 섹션*/
.reviews p{ width:100%; text-align: center; margin-top:-2rem; font-size: 1.4rem;}
.reviews ul{margin-top:.6rem; margin-bottom: 1rem;width:100%; display:flex; flex-flow:row wrap; justify-content: center; align-items: center;}
.reviews ul li{display:block; width:40%; }
.reviews ul li:first-child,.reviews ul li:nth-child(2){margin-bottom:2rem; margin-top:2rem;}
.reviews ul li img{display:block;width:12rem; height:12.5rem; margin:0 auto;}
/*인포 섹션*/
.info ul{width:100%; display:flex; flex-flow:row wrap; justify-content: ; align-items: center;  }
.info ul li{width:50%; height:23rem; background:#d7d7d7;color:#000;box-sizing: border-box; border:1px solid #999;}
.info ul li:nth-child(even){border-left:none;}
.info ul li:first-child,.info ul li:nth-child(2){border-bottom: none;}
.emoji{font-size: 3rem; display:block; width:100%; height:8rem; text-align: center; line-height: 8rem;}
.center{display:block; width:100%; text-align: center;}
.info ul li >h2{font-size:1.8rem; margin-bottom: 2.5rem;}
.info ul li >a{ display:block;width:100%; height:5rem;}
.info ul li >a >span {line-height:5rem;height:5rem; text-decoration: underline;font-size:1.3rem;}
.info ul li >p{padding:0 1rem; height:6.2rem; box-sizing: border-box;font-size:1.3rem;line-height: 1.7rem;}
.red{color:red;font-weight:bold;}
/*푸터*/
footer{ width:100%; background:#fff; padding-top:2rem;}
.upper{width:100%;}
.upper div{padding-left:2rem; margin-bottom:1rem;}
.upper div >a{display:block;height:3rem;line-height: 3rem;}
.upper div strong{font-size:1.8rem;line-height:3rem;font-family: 'Montserrat',Sans-serif,Helvetica;color:#000;}
.upper div:nth-child(5){padding:0; width:100%; text-align:center;background:#e4e8e5; height:4rem;line-height: 4rem;margin-bottom:0;}
.upper div:nth-child(5) strong{height:4rem;line-height: 4rem;}
.footer_nav li{margin-top:.7rem; padding-left:.3rem;}
.footer_nav li a{font-size:1.4rem;color:#515251;}
.bottom{width:100%; padding-top:2rem; background: #363736; }
.bottom ul{padding-left:1rem;}
.bottom li{display:block; width:auto;margin-bottom:1.7rem;}
.bottom ul li >strong{font-size:2.3rem; line-height: 3.5rem; font-weight:800;color:#e8ba3f;display:block;}
.bottom ul li p{font-size:1.6rem; font-weight:200; margin-top:.5rem;margin-bottom: .5rem; color:#fff;}
.brand{font-size:3rem !important;}
.bottom ul li:last-child{margin-top:3rem;padding-bottom:1rem;}
.bottom ul li:last-child p{font-size:.5rem}
/* footer >div{padding-left:2rem;  margin-bottom:2rem; line-height: 2rem;}
footer >div:nth-child(5){padding:0; width:100%; text-align: center; background:#d7d7d7;}
footer>div a,footer>div strong{font-family: 'Montserrat',Sans-serif,Helvetica;height:2rem;}
footer strong{font-size:1.8rem; font-weight:400;}
.footer_product ul{margin-top:1rem;}
.footer_product ul li{margin-top:.4rem;padding-left:.4rem;}
.footer_product ul li a{font-size:1.4rem;} */
