/*모바일용*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
html{  font-size:62.5%;}
header h1 a{font-weight: normal; display:block; font-size:2.6rem; color:red;}
header nav ul li a{font-size:1.8rem;}
main{font-size:1.2rem;}
